<ion-header>
  <ion-navbar color="primary">
    <ion-title>Articulo</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngFor="let i of informacion | async">
    <div *ngIf="i.$key == anuncio">
      <h1>{{i.titulo}}</h1>
      <div class="linea"></div>
      <div class="dimension-photo">
        <img src="{{i.imagen}}" class="imagen">
      </div>
      <div class="linea"></div>
      <h3>Descripción</h3>
      <p>{{i.descripcion}}</p>
      <div class="linea"></div>
      <h3>Precio</h3>
      <p>{{i.precio}}€</p>
      <div class="linea"></div>
      <h3>Localización de venta</h3>
      <p>{{i.lugar}}</p>
      <div class="linea contacto"></div>
      <div *ngFor="let c of contacto | async">
        <div *ngIf="c.$key == i.propietario">
          <h3>Contacto</h3>
          <ion-item>
            <ion-avatar item-left>
              <img src="{{c.imagen}}">
            </ion-avatar>
            <h2>Nombre: {{c.nombre}}</h2>
            <p>Correo: {{c.correo}}</p>
            <p>Teletono: {{c.telefono}}</p>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
  <ion-fab right bottom *ngIf="this.user != null">
    <button ion-fab color="blue" (click)="addfav()"><ion-icon name="star"></ion-icon></button>
  </ion-fab>
</ion-content>
