<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>perfil</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngFor="let a of profile | async">
    <div class="contenedor"><img class="imagen" *ngIf="a.$key == 'imagen'" src="{{a.$value}}"></div>
  </div>
  <div *ngFor="let a of profile | async">
    <ion-list *ngIf="a.$key != 'imagen'">
      <ion-item>
        <label>{{a.$key}}:</label>
        {{a.$value}}
      </ion-item>
    </ion-list>
  </div>

</ion-content>
