<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>perfil</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <div *ngFor="let a of profile | async">
    <div class="contenedor"><img class="imagen" *ngIf="a.$key == 'imagen'" src="{{a.$value}}" (click)="changeImage()"></div>
  </div>
  <ion-list >
  <div *ngFor="let a of profile | async">

      <ion-item margin-top *ngIf="a.$key == 'nombre'" (click)="changeName()">
        <ion-icon  name="ios-at-outline" item-left></ion-icon>
        Nombre:
        <ion-note item-right>
          {{a.$value}}
        </ion-note>
      </ion-item>
    <ion-item margin-top *ngIf="a.$key == 'correo'" (click)="changeEmail()">
      <ion-icon name="ios-mail" item-left></ion-icon>
      Correo
      <ion-note item-right>
        {{a.$value}}
      </ion-note>
    </ion-item>
    <ion-item margin-top *ngIf="a.$key == 'telefono'" (click)="changePhone()">
      <ion-icon *ngIf="a.$key == 'telefono'" name="ios-phone-portrait" item-left></ion-icon>
      Telefono:
      <ion-note item-right>
        {{a.$value}}
      </ion-note>
    </ion-item>
  </div>
  </ion-list>



</ion-content>
