page-page1 {


  .dimension-card{
    height: 250px;
  }

  .dimension-photo{
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }

  .position-icon{
    margin-top: -35px;
    margin-left: 125px;
  }
}
