<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Anuncios de ventas <ion-icon name="search" class="buscar" (click)="categorias()" icon-right></ion-icon></ion-title>

  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="ok == true">
  <div *ngFor="let a of articulos | async">
    <ion-card   *ngIf="categoria == a.categoria" class="dimension-card" (click)="articulo(a.$key)">
      <ion-item>
        <ion-row>
          <ion-col>
            <h2>{{a.titulo}}</h2>
            <p>{{a.precio}}€</p>
          </ion-col>
        </ion-row>
      </ion-item>
      <div class="dimension-photo">
        <img src="{{a.imagen}}" class="imagen">
      </div>
    </ion-card>
  </div>
  </div>
  <div *ngIf="ok == false">
    <ion-card *ngFor="let a of articulos | async" class="dimension-card" (click)="articulo(a.$key)">
      <ion-item>
        <ion-row>
          <ion-col>
            <h2>{{a.titulo}}</h2>
            <p>{{a.precio}}€</p>
          </ion-col>
        </ion-row>
      </ion-item>
      <div class="dimension-photo">
        <img src="{{a.imagen}}" class="imagen">
      </div>
    </ion-card>
  </div>
  <ion-fab *ngIf="user != null" right bottom>
    <button ion-fab color="blue" (click)="addArticulo()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

</ion-content>
